<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">

    <variable name="appName" value="WinPureCleanAndMatch"/>

    <targets async="true">
      <target xsi:type="File" name="default" layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}} | ${stacktrace}" fileName="${basedir}/logs/logfile.log" keepFileOpen="false" archiveFileName="${basedir}/logs/Archive/WMLog_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveAboveSize="1000000" maxArchiveFiles="30"/>
      <target xsi:type="File" name="StatFile" layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" fileName="${basedir}/logs/infofile.log" keepFileOpen="false" archiveFileName="${basedir}/logs/Archive/WMLog_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveAboveSize="1000000" maxArchiveFiles="30"/>
      <target xsi:type="File" name="InfoFile" layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" fileName="${basedir}/logs/logfile.log" keepFileOpen="false" archiveFileName="${basedir}/logs/Archive/WMLog_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveAboveSize="1000000" maxArchiveFiles="30"/>
    </targets>
    <rules>
      <!--<logger name="*" writeTo="default" minlevel="Trace"/>-->
      <logger name="*" writeTo="InfoFile" minlevel="Debug"/>
      <!--<logger name="*" writeTo="InfoFile" minlevel="Info"/>
      <logger name="*" writeTo="InfoFile" minlevel="Warn"/>
      <logger name="*" writeTo="InfoFile" minlevel="Error"/>
      <logger name="*" writeTo="default" minlevel="Fatal"/>-->
    </rules>
  </nlog>
</configuration>
