<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">

    <targets async="true">
      <!-- Основной лог-файл -->
      <target xsi:type="File" name="InfoFile"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}"
              fileName="${basedir}/logs/logfile.log"
              keepFileOpen="false"
              archiveFileName="${dirname:${filedir:${configsetting:name=LogPath}}}/archive/logfile_{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="30"
              createDirs="true"/>
    </targets>

    <rules>
      <logger name="*" writeTo="InfoFile" minlevel="Debug"/>
    </rules>

  </nlog>
</configuration>