<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">

    <variable name="appName" value="WinPureCleanAndMatch"/>

    <targets async="true">
      <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|  ${message} ${exception:format=tostring}">
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
      <target xsi:type="File" name="default" layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}} | ${stacktrace}" fileName="${basedir}/logs/logfile.log" keepFileOpen="false" archiveFileName="${basedir}/logs/Archive/WMLog_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveAboveSize="1000000" maxArchiveFiles="30"/>
      <target xsi:type="File" name="StatFile" layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" fileName="${basedir}/logs/infofile.log" keepFileOpen="false" archiveFileName="${basedir}/logs/Archive/WMLog_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveAboveSize="1000000" maxArchiveFiles="30"/>
      <target xsi:type="File" name="InfoFile" layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=tostring}}" fileName="${basedir}/logs/logfile.log" keepFileOpen="false" archiveFileName="${basedir}/logs/Archive/WMLog_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveAboveSize="1000000" maxArchiveFiles="30"/>
    </targets>
    <rules>
      <!--<logger name="*" writeTo="default" minlevel="Trace"/>-->
      <logger name="*" writeTo="InfoFile" minlevel="Debug"/>
      <!--<logger name="*" writeTo="InfoFile" minlevel="Info"/>
      <logger name="*" writeTo="InfoFile" minlevel="Warn"/>
      <logger name="*" writeTo="InfoFile" minlevel="Error"/>
      <logger name="*" writeTo="default" minlevel="Fatal"/>-->
    </rules>
  </nlog>
</configuration>